.container-chart {
	height: 200px;
	padding-left: 200px;
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container-chart div {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	background-color: #272b2f;
}
