.Nav-link {
	width: 80%;
	height: 40px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	padding-left: 20px;
}
.container {
	width: 100%;
	display: flex;

	align-items: center;
}

.container i {
	margin-right: 15px;
}
